# Ignorar la carpeta de módulos de Node.js
node_modules/

# Ignorar archivos de variables de entorno (MUY IMPORTANTE para seguridad)
.env

# Ignorar el archivo de la clave de servicio de Firebase Admin SDK (MUY IMPORTANTE para seguridad)
# Asegúrate de que la ruta sea correcta si lo tienes en una subcarpeta.
back/serviceAccountKey.json

# Ignorar archivos de logs
*.log
logs/

# Ignorar archivos de caché de IDEs (ej. VS Code)
.vscode/
.idea/

# Ignorar archivos de paquetes y bloqueos de npm/yarn
package-lock.json
yarn.lock

# Ignorar archivos de compilación o temporales
/dist
/build
/tmp

# Ignorar archivos de sistema operativo
.DS_Store # macOS
Thumbs.db # Windows

# Ignorar archivos de depuración
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.pnpm-store/

# Ignorar archivos de cobertura de tests
/coverage
.nyc_output/