    # Node modules
    node_modules/
    back/node_modules/

    # Environment variables
    .env
    back/.env

    # Firebase Service Account Key (VERY IMPORTANT: DO NOT COMMIT THIS!)
    serviceAccountKey.json
    back/serviceAccountKey.json

    # Logs
    *.log
    npm-debug.log*
    yarn-debug.log*
    yarn-error.log*
    